{% extends 'base.html' %}
{% block title %}Region 13{% endblock %}

{% block content %}

<h2>
    <a href="/north_sea">North Sea</a> /
    <a href="/mediterranean">Mediterranean Sea</a> / 
    <a href="/black_sea">Black Sea</a> / 
    <a href="/caspian_sea">Caspian Sea</a> / 
    <a href="/persian_gulf">Persian Gulf</a>
</h2>

<div class="center">
  <div class="card-deck">
<div class="card">
    <h2>North Sea</h2>
    <div class="card-body">
  <p>Average dayrate of all Job Titles: $ {{nsea_avg}}</p>
 </div>
  </div>

<div class="card">
    <h2>Mediterranean Sea</h2>
    <div class="card-body">
  <p>Average dayrate of all Job Titles: $ {{medsea_avg}}</p>
 </div>
  </div>

<div class="card">
    <h2>Black Sea</h2>
    <div class="card-body">
  <p>Average dayrate of all Job Titles: $ {{blacksea_avg}}</p>
 </div>
  </div>

</div> 
</div>

<div class="center">
  <div class="card-deck">
<div class="card">
    <h2>Caspian Sea</h2>
    <div class="card-body">
  <p>Average dayrate of all Job Titles: $ {{caspsea_avg}}</p>
 </div>
  </div>

<div class="card">
    <h2>Persian Gulf</h2>
    <div class="card-body">
  <p>Average dayrate of all Job Titles: $ {{persia_avg}}</p>
 </div>
  </div>
  
</div> 
</div>
  <p class="center">For more specific details of day-rates in individual countries, please click their link above</p>

{% endblock %}

