{% extends 'base.html' %}
{% block title %}Region 18{% endblock %}

{% block content %}

<h2>
    <a href="/mexico">Mexico (Pacific)</a> /
    <a href="/gulf_of_mexico">Gulf Of Mexico</a> /
    <a href="/columbia">Columbia</a> / 
    <a href="/ecuador">Ecuador</a> / 
    <a href="/peru">Peru</a>
</h2>

<div class="center">
  <div class="card-deck">
  
<div class="card">
    <h2>Mexico (Pacific Ocean) </h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{mexico_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Gulf of Mexico</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{gom_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Columbia</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{columbia_avg}}</p>
 </div>
  </div>
</div> 
</div>

  <div class="center">
    <div class="card-deck">
    
  <div class="card">
    <h2>Ecuador</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{ecuador_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Peru</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{peru_avg}}</p>
 </div>
  </div>

</div> 
</div>
  <p class="center">For more specific details of day-rates in individual countries, please click their link above</p>

{% endblock %}

