{% extends 'base.html' %}
{% block title %}Region 9{% endblock %}

{% block content %}

<h2><a href="/alaska">Alaska</a> / 
    <a href="/california">California</a>
</h2>

<div class="center">
  <div class="card-deck">
<div class="card">
    <h2>Alaska</h2>
    <div class="card-body">
  <p> Dayrates displayed in US Dollars</p>
  <p>Average dayrate of all Job Titles: $ {{alaska_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>California</h2>
    <div class="card-body">
  <p> Dayrates displayed in US Dollars</p>
<p>Average dayrate of all Job Titles: $ {{cali_avg}}</p>
 </div>
  </div>

</div> 
</div>
  <p class="center">For more specific details of day-rates in individual countries, please click their link above</p>

{% endblock %}
