{% extends 'base.html' %}
{% block title %}Region 27{% endblock %}

{% block content %}

<h2>
    <a href="/brazil">Brazil</a> /
    <a href="/uruguay">Uruguay</a> / 
    <a href="/anarctica">Anarctica</a> / 
    <a href="/chile">Chile</a> / 
    <a href="/argentina">Argentina</a> / 
    <a href="/falkland_islands">Falkland Islands</a>
</h2>

<div class="center">
  <div class="card-deck">
<div class="card">
    <h2>Brazil</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{brazil_avg}}</p>
 </div>
  </div>

<div class="card">
    <h2>Uruguay</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{uruguay_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Antarctica</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{antarctica_avg}}</p>
 </div>
  </div>
</div>
</div>

  <div class="center">
    <div class="card-deck">
  <div class="card">
    <h2>Chile</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{chile_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Argentina</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{argentina_avg}}</p>
 </div>
  </div>


  <div class="card">
    <h2>Falkland Islands</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{falkland_avg}}</p>
 </div>
  </div>

</div> 
</div>
  <p class="center">For more specific details of day-rates in individual countries, please click their link above</p>

{% endblock %}
