{% extends 'base.html' %}
{% block title %}Region 21{% endblock %}

{% block content %}

<h2>
    <a href="/ghana">Ghana</a> /
    <a href="/nigeria">Nigeria</a> / 
    <a href="/gabon">Gabon</a> / 
    <a href="/sierra_leone">Sierra Leone</a> / 
    <a href="/mauritania">Mauritania</a>
</h2>

<div class="center">
  <div class="card-deck">
<div class="card">
    <h2>Ghana</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{ghana_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Nigeria</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{nigeria_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Gabon</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{gabon_avg}}</p>
 </div>
  </div>
</div>
</div>

  <div class="center">
    <div class="card-deck">
  <div class="card">
    <h2>Sierra Leone</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{sierraleone_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Mauritania</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{mauritania_avg}}</p>
 </div>
  </div>

</div> 
</div>
  <p class="center">For more specific details of day-rates in individual countries, please click their link above</p>

{% endblock %}
