{% extends 'base.html' %}
{% block title %}Region 20{% endblock %}

{% block content %}

<h2>
    <a href="/angola">Angola</a> /
    <a href="/namibia">Namibia</a> / 
    <a href="/mozambique">Mozambique</a> / 
    <a href="/madagascar">Madagascar</a>
</h2>

<div class="center">
  <div class="card-deck">
<div class="card">
    <h2>Angola</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{angola_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Namibia</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{namibia_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Mozambique</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{mozambique_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Madagascar</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{madagascar_avg}}</p>
 </div>
  </div>
</div> 
</div>
  <p class="center">For more specific details of day-rates in individual countries, please click their link above</p>

{% endblock %}
