{% extends 'base.html' %}
{% block title %}Region 5{% endblock %}

{% block content %}
<h2>
    <a href="/north_sea">North Sea</a> / 
    <a href="/arctic_ocean">Arctic</a> / 
    <a href="/russia">Russia</a>
</h2>

<div class="center">
  <div class="card-deck">
<div class="card">
    <h2>North Sea</h2>
    <div class="card-body">
  <p> Dayrates displayed in US Dollars</p>
  <p>Average dayrate of all Job Titles: $ {{nsea_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Arctic Ocean</h2>
    <div class="card-body">
  <p> Dayrates displayed in US Dollars</p>
  <p>Average dayrate of all Job Titles: $ {{arctic_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Russia</h2>
    <div class="card-body">
  <p> Dayrates displayed in US Dollars</p>
<p>Average dayrate of all Job Titles: $ {{russia_avg}}</p>
 </div>
  </div>
</div> 
</div>
  <p class="center">For more specific details of day-rates in individual countries, please click their link above</p>

{% endblock %}
