{% extends 'base.html' %}
{% block title %}Region 19{% endblock %}

{% block content %}

<h2>
    <a href="/gulf_of_mexico">Gulf Of Mexico</a> /
    <a href="/caribbean">Caribbean</a> / 
    <a href="/guyana">Guyana</a> / 
    <a href="/suriname">Suriname</a> / 
    <a href="/brazil">Brazil</a> / 
    <a href="/french_guiana">french_guiana</a>
</h2>


<div class="center">
  <div class="card-deck">
  <div class="card">
    <h2>Gulf of Mexico</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{gom_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Caribbean</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{caribbean_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Guyana</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{guyana_avg}}</p>
 </div>
  </div>
</div> 
</div>

  <div class="center">
    <div class="card-deck">
  <div class="card">
    <h2>Suriname</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{suriname_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Brazil</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{brazil_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>French Guiana</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{fguiana_avg}}</p>
 </div>
  </div>

</div> 
</div>
  <p class="center">For more specific details of day-rates in individual countries, please click their link above</p>

{% endblock %}
