{% extends 'base.html' %}
{% block title %}Region 3{% endblock %}

{% block content %}
<h2>
    <a href="/canada">Canada</a> / 
    <a href="/greenland">Greenland</a> / 
    <a href="/arctic_ocean">Arctic</a>
</h2>

<div class="center">
<div class="card-deck">
<div class="card">
    <h2>Canada</h2>
    <div class="card-body">
  <p> Dayrates displayed in US Dollars</p>
<p>Average dayrate of all Job Titles: $ {{canada_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Greenland</h2>
    <div class="card-body">
  <p> Dayrates displayed in US Dollars</p>
  <p>Average dayrate of all Job Titles: $ {{greenland_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Arctic Ocean</h2>
    <div class="card-body">
  <p> Dayrates displayed in US Dollars</p>
  <p>Average dayrate of all Job Titles: $ {{arctic_avg}}</p>
 </div>
  </div>


  </div> 
</div>
  <p class="center">For more specific details of day-rates in individual countries, please click their link above</p>

{% endblock %}
