{% extends 'base.html' %}
{% block title %}Region 23{% endblock %}

{% block content %}

<h2>
    <a href="/phillipeans">Phillipeans</a> /
    <a href="/malaysia">Malaysia</a> / 
    <a href="/indonesia">Indonesia</a>
    <a href="/s_china">Southern China</a> / 
    <a href="/australia_newzealand">Australia & New Zealand</a>
</h2>

<div class="center">
  <div class="card-deck">
<div class="card">
    <h2>Phillipeans</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{phil_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Malaysia</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{malaysia_avg}}</p>
 </div>
  </div> 

<div class="card">
    <h2>Indonesia</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{indonesia_avg}}</p>
 </div>
  </div>
</div>
</div>

  <div class="center">
    <div class="card-deck">
  <div class="card">
    <h2>Southern China</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{schina_avg}}</p>
 </div>
  </div> 

  <div class="card">
    <h2>Australia & New Zealand</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{ausnz_avg}}</p>
 </div>
  </div> 

</div> 
</div>
  <p class="center">For more specific details of day-rates in individual countries, please click their link above</p>

{% endblock %}
