{% extends 'base.html' %}
{% block title %}Region 20{% endblock %}

{% block content %}

<h2>
    <a href="/ghana">Ghana</a> /
    <a href="/nigeria">Nigeria</a> / 
    <a href="/gabon">Gabon</a> / 
    <a href="/angola">Angola</a> / 
    <a href="/ethiopia">Ethiopia</a>
</h2>

<div class="center">
  <div class="card-deck">
<div class="card">
    <h2>Ghana</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{ghana_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Nigeria</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{nigeria_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Gabon</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{gabon_avg}}</p>
 </div>
  </div>
</div> 
</div>

  <div class="center">
    <div class="card-deck">
  <div class="card">
    <h2>Angola</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{angola_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Ethiopia</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{ethiopia_avg}}</p>
 </div>
  </div>

</div> 
</div>
  <p class="center">For more specific details of day-rates in individual countries, please click their link above</p>

{% endblock %}
