{% extends 'base.html' %}
{% block title %}Region 16{% endblock %}

{% block content %}

<h2>
    <a href="/skorea_japan">South Korea & Japan</a> /
    <a href="/china_vietnam">China & Vietnam</a> /
    <a href="/russia">Russia</a>
</h2>

<div class="center">
  <div class="card-deck">
<div class="card">
    <h2>South Korea & Japan</h2>
    <div class="card-body">
  <p>Average dayrate of all Job Titles: $ {{skorea_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>China & Vietnam</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{china_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>Russia</h2>
    <div class="card-body">
<p>Average dayrate of all Job Titles: $ {{russia_avg}}</p>
 </div>
  </div>

</div> 
</div>
  <p class="center">For more specific details of day-rates in individual countries, please click their link above</p>

{% endblock %}

