{% extends 'base.html' %}
{% block title %}Region 12{% endblock %}

{% block content %}

<h2>
    <a href="/north_sea">North Sea</a> /
    <a href="/nw_africa_morocco">NW Africa & Morocco</a>
</h2>


<div class="center">
  <div class="card-deck">
<div class="card">
    <h2>North Sea</h2>
    <div class="card-body">
  <p>Average dayrate of all Job Titles: $ {{nsea_avg}}</p>
 </div>
  </div>

  <div class="card">
    <h2>NW Africa & Morocco</h2>
    <div class="card-body">
  <p>Average dayrate of all Job Titles: $ {{nwafrica_avg}}</p>
 </div>
  </div>
</div> 
</div>
  <p class="center">For more specific details of day-rates in individual countries, please click their link above</p>

{% endblock %}
