.title {
	margin: auto;
	width: 80%;
	padding-top: 4%;
	padding-bottom: 0px;
}

.turtle,
.map {
	margin: auto;
	width: 50%;
	text-align: center;
	padding: 4rem;
	padding: 0px;
}

.construction {
	position: absolute;
	margin-left: 80%;
	padding-right: 5%;
	width: 20%;
	text-align: center;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

h1 {
	width: auto;
	text-align: center;
	padding-top: 2vw;
	font-family: 'Fredericka the Great', cursive;
	font-size: 3vw;
}
