div {
	margin: auto;
	width: 50%;
	text-align: center;
	padding: 4rem;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

h1 {
	margin: auto;
	text-align: center;
	padding-top: 4rem;
	font-family: 'Fredericka the Great', cursive;
	font-size: 3rem;
}
