{% extends 'base.html' %}
{% block content %}

  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="POST">
        {{ form.csrf_token }}
        <div>
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
              {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
              {{field.label}}{{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}
        </div>
        <button class="btn btn-info btn-block">Add Job</button>
        <a href="/user/{{ user.id }}" class="btn btn-outline-secondary">Cancel</a>
      </form>
    </div>
  </div>

{% endblock %}
