{% extends 'base.html' %}
{% block title %}Select Your Region{% endblock %}

{% block content %}

<h2>Area's Stats</h2>
<div class="center">
    <div class="map2">
<p>This page will use templating to show the following info for whatever area was just clicked on.</p>

<h3>Seismic Dayrates:</h3>
<ul>
<li>Lead PAM</li>
    <ul>
        <li>Average Dayrate: $300 per day</li>
        <li>Max Dayrate: $500 per day</li>
        <li>Minimum Dayrate: $200 per day</li>
        <li>Median Dayrate: $200 per day</li>
    </ul>
<li>PAM</li>
    <ul>
        <li>Average Dayrate: $XXX per day</li>
        <li>Max Dayrate: $XXX per day</li>
        <li>Minimum Dayrate: $XXX per day</li>
        <li>Median Dayrate: $XXX per day</li>
    </ul>
<li>PAM / PSO</li>
<ul>
    <li>Average Dayrate: $XXX per day</li>
    <li>Max Dayrate: $XXX per day</li>
    <li>Minimum Dayrate: $XXX per day</li>
    <li>Median Dayrate: $XXX per day</li>
</ul>
<li>Lead PSO</li>
<ul>
    <li>Average Dayrate: $XXX per day</li>
    <li>Max Dayrate: $XXX per day</li>
    <li>Minimum Dayrate: $XXX per day</li>
    <li>Median Dayrate: $XXX per day</li>
</ul>
<li>Support PSO</li>
<ul>
    <li>Average Dayrate: $XXX per day</li>
    <li>Max Dayrate: $XXX per day</li>
    <li>Minimum Dayrate: $XXX per day</li>
    <li>Median Dayrate: $XXX per day</li>
</ul>
</ul>

<h3>Windfarm Dayrates:</h3>
<ul>
<li>Lead PAM</li>
<ul>
    <li>Average Dayrate: $XXX per day</li>
    <li>Max Dayrate: $XXX per day</li>
    <li>Minimum Dayrate: $XXX per day</li>
    <li>Median Dayrate: $XXX per day</li>
</ul>
<li>PAM</li>
<ul>
    <li>Average Dayrate: $XXX per day</li>
    <li>Max Dayrate: $XXX per day</li>
    <li>Minimum Dayrate: $XXX per day</li>
    <li>Median Dayrate: $XXX per day</li>
</ul>
<li>PAM / PSO</li>
<ul>
    <li>Average Dayrate: $XXX per day</li>
    <li>Max Dayrate: $XXX per day</li>
    <li>Minimum Dayrate: $XXX per day</li>
    <li>Median Dayrate: $XXX per day</li>
</ul>
<li>Lead PSO</li>
<ul>
    <li>Average Dayrate: $XXX per day</li>
    <li>Max Dayrate: $XXX per day</li>
    <li>Minimum Dayrate: $XXX per day</li>
    <li>Median Dayrate: $XXX per day</li>
</ul>
<li>Support PSO</li>
<ul>
    <li>Average Dayrate: $XXX per day</li>
    <li>Max Dayrate: $XXX per day</li>
    <li>Minimum Dayrate: $XXX per day</li>
    <li>Median Dayrate: $XXX per day</li>
</ul>
</ul>

{% endblock %}
