{% extends 'base.html' %}
{% block title %}{{name}}{% endblock %}

{% block content %}
<h2>{{name}}</h2>

<div class="row" >
 
  <div class="center">
    <div class="col-sm-3">
<div class="card justify-content-center text-center " >
    <div class="card-body ">
      <h3>Average Day Rates</h3>
  <p> Dayrates displayed in US Dollars</p>
  <table class="justify-content-center text-center ">
    {% for row in data %}
        <tr>
        {% for cell in row %}
            <td>{{ cell }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
  </table>
</div>
</div>
</div>


<div class="col-sm-7">
  <div class="card text-center example-1 square scrollbar-cyan bordered-cyan">
    <div class="card-body">
    <h3>TRAVEL ADVISORY</h3>
    <p id="advisory">{{advisory}}</p>
  </div>
</div>
</div>
</div> 
</div>




<div class="row" style="width:90%; margin:auto;">
  <div class="center">
    <div class="card text-center justify-content-center col-sm-11 example-1 square scrollbar-cyan bordered-cyan" >
      <div class="card-body">
    <h3>Job History</h3>
    <div class="row">            
      <div class="center"><h4> Jobs on record: {{ jobs | length }}</h4> </div>
      <div class="center">    <!-- style auto margin -->
      <ul>
      {% for job in jobs %}
      <li>
        <p><b>Job Title:</b> {{job.job_title}} <b>PSO Contractor:</b> {{job.cont_company}} <b>Day Rate:</b> ${{job.day_rate}}</p>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  </div>
</div>
</div>
</div>
</div>


  {% endblock %}
