{% extends 'base.html' %}
{% block title %}Select Your Region{% endblock %}

{% block content %}
<h2>Northern Pacific Ocean</h2>
<ul>
    <a href="/northsea"><li>North Sea</li></a>
    <a href="/blacksea"><li>Black Sea</li></a>
    <a href="/Russia"><li>Russia</li></a>
    <a href="/caspiansea"><li>Caspian Sea</li></a>
    <a href="/persiangulf"><li>Persian Gulf</li></a>
    <a href="/egypt"><li>Egypt</li></a>
    <a href="/qatar"><li>Qatar</li></a>
    <a href="/region10"><li>General Region</li></a>
</ul>
{% endblock %}
