{% extends 'base.html' %}
{% block title %}Select Your Region{% endblock %}

{% block content %}
<h2>Northern Pacific Ocean</h2>
<ul>
    <a href="/qatar"><li>Qatar</li></a>
    <a href="/somalia"><li>Somalia</li></a>
    <a href="/arabian sea"><li>Arabian Sea</li></a>
    <a href="/myanmar"><li>Myanmar</li></a>
    <a href="/india"><li>India</li></a>
    <a href="/thailand"><li>Thailand</li></a>
    <a href="/malaysia"><li>Malaysia</li></a>
    <a href="/region11"><li>General Region</li></a>
    <a href="/areastats"><button>See Region's Dayrates</button></a>
</ul>
{% endblock %}
