{% extends 'base.html' %}
{% block title %}Select Your Region{% endblock %}

{% block content %}
<h2>Gulf of Mexico and Caribbean</h2>
<ul>
    <a href="/gom"><li>Gulf of Mexico</li></a>
    <a href="/trinidad"><li>Trinidad</li></a>
    <a href="/guyana"><li>Guyana</li></a>
    <a href="/nicaragua"><li>Nicaragua</li></a>
    <a href="/suriname"><li>Suriname</li></a>
    <a href="/venezuela"><li>Venezuela</li></a>
    <a href="/region5"><li>General Region</li></a>
    <a href="/areastats"><button>See Region's Dayrates</button></a>
</ul>
{% endblock %}
