{% extends 'base.html' %}
{% block title %}Select Your Region{% endblock %}

{% block content %}
<h2>Southern Pacific and Atlantic Ocean</h2>
<ul>
    <a href="/brazil"><li>Brazil</li></a>
    <a href="/uruguay"><li>Uruguay</li></a>
    <a href="/argentina"><li>Argentina</li></a>
    <a href="/peru"><li>Peru</li></a>
    <a href="/othersamerica"><li>Other South America</li></a>
    <a href="/region6"><li>General Region</li></a>
    <a href="/areastats"><button>See Region's Dayrates</button></a>
</ul>
{% endblock %}
