{% extends 'base.html' %}
{% block title %}Select Your Region{% endblock %}

{% block content %}
<h2>Northern Atlantic Ocean and Artic Ocea</h2>
<ul>
    <a href="/greenland"><li>Greenland</li></a>
    <a href="/northsea"><li>North Sea</li></a>
    <a href="/blacksea"><li>Black Sea</li></a>
    <a href="/mediterranean"><li>Mediterranean</li></a>
    <a href="/egypt"><li>Egypt</li></a>
    <a href="/region7"><li>General Region</li></a>
    <a href="/areastats"><button>See Region's Dayrates</button></a>
</ul>
{% endblock %}
