<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FACEBOOK-->
    <meta property="og:image" content="https://images.unsplash.com/photo-1437622368342-7a3d73a34c8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">

    <!-- Style -->
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <title>PSO PayScale</title>
</head>
<body>
    <nav class="navbar">
        <div class="construction">
            <a href="/user/new"><button class="navuser">Sign Up</button></a>
            <a href="/user/login"><button class="navuser">Login</button></a> 
        </div> 
        <a href="/home">Home</a>
        <a href="/about">About</a> 
        <a href="/user/new">New User</a> 
        <a href="/user/info/1">User's Info Page</a> 
        <a href="/areastats">Output Example</a> 
    </nav>
    <div class="title2"><h1>PSO PayScale</h1></div>

<div class="center">
    <div class="map">
        <!-- <img id="map" src="https://i.ibb.co/8rrJzN2/nicemap.png" alt=""> -->
    <div class="maptop">
        <a href="/ocean/1"><img class="inline" src="https://i.ibb.co/bN627xR/section1.png" alt=""></a>
        <a href="/ocean/4"><img class="inline" src="https://i.ibb.co/Z6C8t1S/section4.png" alt=""></a>
        <a href="/ocean/7"><img class="inline" src="https://i.ibb.co/GtRrhD3/section7.png" alt=""></a>
        <a href="/ocean/10"><img class="inline" src="https://i.ibb.co/5RTw995/section10.png" alt=""></a>
        <a href="/ocean/13"><img class="inline" src="https://i.ibb.co/fMy6h7W/section13.png" alt=""></a>
    </div>
    <div class="mapmiddle">
        <a href="/ocean/2"><img class="inline" src="https://i.ibb.co/dtjFxPb/section2.png" alt=""></a>
        <a href="/ocean/5"><img class="inline" src="https://i.ibb.co/pdHVNTk/section5.png" alt=""></a>
        <a href="/ocean/8"><img class="inline" src="https://i.ibb.co/wyBPc5f/section8.png" alt=""></a>
        <a href="/ocean/11"><img class="inline" src="https://i.ibb.co/pxrSqNW/section11.png" alt=""></a>
        <a href="/ocean/14"><img class="inline" src="https://i.ibb.co/DzXJQPj/section14.png" alt=""></a>
    </div>
    <div class="mapbottom">
        <a href="/ocean/3"><img class="inline" src="https://i.ibb.co/VNrGm8Y/section3.png" alt=""></a>
        <a href="/ocean/6"><img class="inline" src="https://i.ibb.co/Y251Bdm/section6.png" alt=""></a>
        <a href="/ocean/9"><img class="inline" src="https://i.ibb.co/gPcPQHP/section9.png" alt=""></a>
        <a href="/ocean/12"><img class="inline" src="https://i.ibb.co/rmP4yjk/section12.png" alt=""></a>
        <a href="/ocean/15"><img class="inline" src="https://i.ibb.co/cb1hSPR/section15.png" alt=""></a>
    </div> 

    </div>
</div>
</body>
</html>
