{% extends 'base.html' %}

{% block body_class %}PSO PayScale{% endblock %}

{% block content %}
<body id="mappage">

<h1>PSO PayScale</h1>
<div class="d-flex justify-content-center"><p>To search for current dayrate information by country, please click the location on the map or visit the <a href="/list"> list of countries</a>.</p></div>
<div class="center">

    <div class="map">
        <!-- <img id="map" src="https://i.ibb.co/8rrJzN2/nicemap.png" alt=""> -->
    <div class="row1">
        <a href="/region/01"><img class="inline img-fluid" src="https://i.ibb.co/1s9VZhr/image-part-001.jpg" alt=""></a>
        <a href="/region/02"><img class="inline" src="https://i.ibb.co/JB0g2T8/image-part-002.jpg" alt=""></a>
        <a href="/region/03"><img class="inline" src="https://i.ibb.co/88cc7rG/image-part-003.jpg" alt=""></a>
        <a href="/region/04"><img class="inline" src="https://i.ibb.co/x5p13Zv/image-part-004.jpg" alt=""></a>
        <a href="/region/05"><img class="inline" src="https://i.ibb.co/G9p6cF1/image-part-005.jpg" alt=""></a>
        <a href="/region/06"><img class="inline" src="https://i.ibb.co/hMnVDGY/image-part-006.jpg" alt=""></a>
        <a href="/region/07"><img class="inline" src="https://i.ibb.co/ZV4CN50/image-part-007.jpg" alt=""></a>
        <a href="/region/08"><img class="inline" src="https://i.ibb.co/n7bDryn/image-part-008.jpg" alt=""></a>
    </div>
    <div class="row2">
        <a href="/region/09"><img class="inline" src="https://i.ibb.co/LzSrs3f/image-part-009.jpg" alt=""></a>
        <a href="/region/10"><img class="inline" src="https://i.ibb.co/mCXrGtC/image-part-010.jpg" alt=""></a>
        <a href="/region/11"><img class="inline" src="https://i.ibb.co/KLxdTGK/image-part-011.jpg" alt=""></a>
        <a href="/region/12"><img class="inline" src="https://i.ibb.co/SXT1tDY/image-part-012.jpg" alt=""></a>
        <a href="/region/13"><img class="inline" src="https://i.ibb.co/NrSWhZy/image-part-013.jpg" alt=""></a>
        <a href="/region/14"><img class="inline" src="https://i.ibb.co/616g6M1/image-part-014.jpg" alt=""></a>
        <a href="/region/15"><img class="inline" src="https://i.ibb.co/Hd6VdNP/image-part-015.jpg" alt=""></a>
        <a href="/region/16"><img class="inline" src="https://i.ibb.co/tqxvRrB/image-part-016.jpg" alt=""></a>
    </div>
    <div class="row3">
        <a href="/region/17"><img class="inline" src="https://i.ibb.co/cQ39vQD/image-part-017.jpg" alt=""></a>
        <a href="/region/18"><img class="inline" src="https://i.ibb.co/p0BvjvW/image-part-018.jpg" alt=""></a>
        <a href="/region/19"><img class="inline" src="https://i.ibb.co/DDFGDHC/image-part-019.jpg" alt=""></a>
        <a href="/region/20"><img class="inline" src="https://i.ibb.co/0Gy6yvv/image-part-020.jpg" alt=""></a>
        <a href="/region/21"><img class="inline" src="https://i.ibb.co/pxvfN81/image-part-021.jpg" alt=""></a>
        <a href="/region/22"><img class="inline" src="https://i.ibb.co/PQ7kSBd/image-part-022.jpg" alt=""></a>
        <a href="/region/23"><img class="inline" src="https://i.ibb.co/3WgsgPs/image-part-023.jpg" alt=""></a>
        <a href="/region/24"><img class="inline" src="https://i.ibb.co/xXngKCQ/image-part-024.jpg" alt=""></a>
    </div> 
    <div class="row4">
        <a href="/region/25"><img class="inline" src="https://i.ibb.co/tZX47R9/image-part-025.jpg" alt=""></a>
        <a href="/region/26"><img class="inline" src="https://i.ibb.co/KV2sXbJ/image-part-026.jpg" alt=""></a>
        <a href="/region/27"><img class="inline" src="https://i.ibb.co/XS3rh1v/image-part-027.jpg" alt=""></a>
        <a href="/region/28"><img class="inline" src="https://i.ibb.co/ph9knD6/image-part-028.jpg" alt=""></a>
        <a href="/region/29"><img class="inline" src="https://i.ibb.co/zJPCZ1g/image-part-029.jpg" alt=""></a>
        <a href="/region/30"><img class="inline" src="https://i.ibb.co/FKcXFkY/image-part-030.jpg" alt=""></a>
        <a href="/region/31"><img class="inline" src="https://i.ibb.co/4p25L22/image-part-031.jpg" alt=""></a>
        <a href="/region/32"><img class="inline" src="https://i.ibb.co/30V4k0L/image-part-032.jpg" alt=""></a>
    </div> 

    </div>
</div>
</body> 
{% endblock %}
