
{% extends 'base.html' %}
{% block title %}Add a New User{% endblock %}

{% block content %}
<div class="center">
    <div class="map">
    <form action="/user/new" method="POST">
        <h2>Add User:</h2>
        <input type="text" id="user_name" name="user_name"  placeholder="user name">
        <input type="text" id="first_name" name="first_name"  placeholder="first name">
        <input type="text" id="last_name" name="last_name"  placeholder="last name">
        <input type="email" id="email" name="email"  placeholder="email">
        <input type="text" id="image_url" name="image_url"  placeholder="image url">
<button>Submit New User</button>
</form>
</div>
</div>
{% endblock %}
