
{% extends 'base.html' %}
{% block title %}Add a New User{% endblock %}

{% block content %}
<div class="center">
    <div class="map">
    <form action="/user/info" method="POST">
        <h2>Add Dayrate Info:</h2>
        <input type="text" id="job_title" name="job_title"  placeholder="Job Title">
        <input type="text" id="job_type" name="job_type"  placeholder="Job Type">
        <input type="text" id="month" name="month"  placeholder="Main Month of Job">
        <input type="text" id="year" name="year"  placeholder="Year of Job">
        <input type="text" id="day_rate" name="day_rate"  placeholder="Day Rate">
        <input type="text" id="contracting_company" name="contracting_company"  placeholder="Contracting Company">
<button>Submit Job</button>
</form>
</div>
</div>
{% endblock %}
