
{% extends 'base.html' %}
{% block title %}Edit User{% endblock %}

{% block content %}
    <h1>{{user.first_name}} {{user.last_name}} Details</h1>
    <div class="center">
        <div class="map">
    <form  method="POST">
        <h2>Edit User:</h2>
    <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" placeholder="{{ user.first_name }}">
    <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" placeholder="{{ user.last_name }}">
    <input type="text" id="image_url" name="image_url" value="{{ user.image_url }}" placeholder="{{ user.image_url }}">
<button type="submit">Submit Edit</button>
<a href="/users"><button>Cancel</button></a>
</form>
</div>
</div>
{% endblock %}
